<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Host" value="tl-smtp.treolan.ru"/>
		<add key="Port" value="25"/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="ServiceName" value="LSD-20 Mail Service"/>
		<add key="ServiceEmailAddress" value="lsd20@treolan.ru"/>	
	</appSettings>
</configuration>